body {background-color:#36393F;}
p {font-family: Calibri; color:blue; font-size:15px;}
#titulo {position: relative; margin:auto; left: 670px;}
#caca {position: absolute; top:-10%; -webkit-text-stroke: 1.5px black; font-family: Impact; font-size:45px; color:White;}
#caca2 {position: absolute; top: 65%;-webkit-text-stroke: 1.5px black; font-family: Impact; font-size:45px; color:White;}
#primera {overflow: hidden;}
#momardo {position: relative; float: left;}
#momento {position: relative; left: 10px; top: -15px; float: left;}
#gatazo {position: relative; left: 25px;}
#patricio {position: static; width: 100%;}
#barra {position: static;}
#gato {font-family: Comic Sans MS;}
#lista {font-size: 15px}
#dicc {color:white;}
#movida {font-weight: bold; font-family: OCR A Std, monospace;}